[user]
	name = Max Richter
	email = jim-x@web.de

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
