
/*================== Preto for Firefox ==================
Author: dpcdpc11.gumroad.com, alfarexguy.deviantart.com
ENJOY!
*/

@import url("./hide_tabs_with_one_tab.css");
@import url("./colors.css");
@import url("./tabs_bar.css");
@import url("./bookmarks.css");
@import url("./nav_bar.css");

/* Remove close button*/
.titlebar-buttonbox-container {
  display: none
}

/*================ DARK MODE ================*/

:root:-moz-lwtheme-brighttext,
.sidebar-panel[lwt-sidebar-brighttext],
body[lwt-sidebar-brighttext] {
  --main-bgcolor: var(--dark-color);
  --transparent-bgcolor: var(--accent-color);
}


/*================== MAIN HEADER ==================*/

toolbox#navigator-toolbox {
  border: 0 !important;
}

/*================== CAPTION BUTTONS ==================*/

.titlebar-buttonbox {
  position: relative;
  margin-right: 0px;
  margin-top: -10px !important;
}

.titlebar-button {
  transition: all 0.3s ease !important;
  padding: 8px 10px !important;
  background: rgba(var(--dark-color), 1) !important;
}

.titlebar-button.titlebar-close {
  padding-right: 26px !important;
}

.titlebar-button>.toolbarbutton-icon {
  transition: all 0.3s ease !important;
  list-style-image: none;
  border-radius: 10px;
}

.titlebar-button.titlebar-min>.toolbarbutton-icon {
  background: rgba(var(--caption-min-color), 1) !important;
}

.titlebar-button.titlebar-max>.toolbarbutton-icon,
.titlebar-button.titlebar-restore>.toolbarbutton-icon {
  background: rgba(var(--caption-max-color), 1) !important;
}

.titlebar-button.titlebar-close>.toolbarbutton-icon {
  background: rgba(var(--caption-close-color), 1) !important;
}

.titlebar-button:hover>.toolbarbutton-icon {
  background: rgba(var(--third-accent-color), 1) !important;
  background: red !important;
}

.titlebar-button.titlebar-min:hover>.toolbarbutton-icon,
.titlebar-button.titlebar-max:hover>.toolbarbutton-icon,
.titlebar-button.titlebar-restore:hover>.toolbarbutton-icon,
.titlebar-button.titlebar-close:hover>.toolbarbutton-icon {
  background: red !important;
}


/*================== NEW TAB BUTTON ==================*/

toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active)>.toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active)>.toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :active)>.toolbarbutton-icon {
  transition: all 0.3s ease !important;
  fill: rgba(var(--secondary-accent-color), 1) !important;
  border-radius: 4px !important;
  background-color: rgba(var(--transparent-bgcolor), 0.7) !important;
}

toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover>.toolbarbutton-icon {
  background-color: rgba(var(--transparent-bgcolor), 1) !important;
}

/*================== SEARCH BAR ==================*/

searchbar#searchbar {
  margin-top: 4px !important;
  border-radius: 4px !important;
  /* border: 0 !important; */
  fill: rgba(var(--secondary-accent-color), 1) !important;
  /* background-color: rgba(var(--accent-color), 1) !important; */
  /* background-color: red !important; */
  color: rgba(var(--third-accent-color), 1) !important;
  box-shadow: none !important;
}


/*================== SIDEBAR ==================*/

#sidebar-box,
.sidebar-panel[lwt-sidebar-brighttext] {
  background-color: rgba(var(--main-bgcolor), 1) !important;
}

#sidebar-header {
  border-color: rgba(var(--accent-color), 1) !important;
}

.sidebar-splitter {
  border-color: rgba(var(--accent-color), 1) !important;
}

#sidebar-switcher-target:hover,
#sidebar-switcher-target:hover:active,
#sidebar-switcher-target.active,
#viewButton:hover,
#viewButton[open] {
  background-color: rgba(var(--accent-color), 1) !important;
}

.sidebar-placesTreechildren {
  color: unset !important;
}

#search-box,
.search-box {
  -moz-appearance: none !important;
  background-color: rgba(var(--accent-color), 1) !important;
  border-radius: 4px !important;
  color: unset !important;
}

.content-container {
  background-color: rgba(var(--main-bgcolor), 1) !important;
  color: unset !important;
}

#viewButton {
  color: unset !important;
}


